.group_page {
  width: 100%;
  height: 100%;
}

.group_page_div {
  display: flex;
  flex-direction: row;
  height: inherit;
  margin-top: 20px;
}

.members_div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.group_page h1 {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.8rem;
}

.group_page hr {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 0px;
  border-radius: 1000px;
  border-width: 2px;
  border-color: darkcyan;
}

.members {
  padding-top: 20px;
  background-color: white;
  overflow-y: scroll;
  height: 60vh;
}

.documents_div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.documents {
  padding-top: 20px;
  background-color: white;
  overflow-y: scroll;
  height: 60vh;
}

.reviews_div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.reviews {
  background-color: white;
  overflow-y: scroll;
  height: 60vh;
}

.group_buttons_div {
  margin-top: 20px;
  width: 100%;
  height: inherit;
  background-color: white;
  display: flex;
  padding: 40px;
  justify-content: center;
}

.group_buttons_inner_div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#group_button {
  width: 7em;
  height: 7em;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  margin-left: 5%;
  margin-right: 5%;
  border: double 4px transparent;
  border-radius: 8px;
  border-color: darkgray;
  border-style: solid;
  cursor: pointer;
}

#join_button {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: black;
  background-color: white;
  border: double 4px transparent;
  border-radius: 8px;
  border-color: darkgray;
  border-style: solid;
  cursor: pointer;
  width: 7em;
  height: 7em;
  margin-left: 5%;
  margin-right: 5%;
  
}


#add_icon {
  color: darkcyan;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  height: 70%;
}

#remove_icon {
  color: red;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  height: 70%;
}

#group_button span {
  font-size: 0.8rem;
}


.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 2rem;
  text-align: center;
  padding: 5px;
  
}


.modal > .content {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  background: rgb(255, 255, 255);
  width: 50%;
  padding: 5px;
  font-size: 3rem;
  text-align: center;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.actions .search_form_div{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.actions #button_save{  
  margin-top: 10px;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

#peerReviewMembers{
  list-style: none;
}



