.register_class {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
}

.logo_login_register {
  background-color: white;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
}

#bg {
  width: 50vw;
  margin-top: auto;
  margin-bottom: auto;
}

.register_form_div {
  background-color: white;
  width: 50%;
  height: 100vh;
  display: flex;
}

.register_form {
  display: flex;
  flex-direction: column;
  background-color: white;
  text-align: center;
  width: 50%;
  height: 70vh;
  margin: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.register_form .form {
  background-color: white;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
}

.form hr {
  margin-top: 20px;
  width: 60%;
  border-width: 2px;
  border-color: black;
}

.search_form_div {
  margin-top: 5%;
  background-color: var(--bg-gray);
  width: 25vw;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: inherit;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: darkgray;
  border-image: initial;
  position: relative;
}

.input > input {
  height: 2.5rem;
  width: 20vw;
  text-align: center;
  background-color: transparent;
  display: flex;
  font-size: 16px;
  line-height: 20px;
  caret-color: rgb(255, 63, 85);
  overflow: hidden;
  flex: 1 1 0%;
  margin: 0px;
  padding: 0px;
  border-style: none;
}


.input > textarea {
  height: 2.5rem;
  width: 20vw;
  text-align: left;
  background-color: transparent;
  display: flex;
  font-size: 16px;
  line-height: 20px;
  caret-color: rgb(255, 63, 85);
  overflow: hidden;
  flex: 1 1 0%;
  margin: 0px;
  padding: 0px;
  border-style: solid;
}

#logBtn {
  margin-top: 5%;
  width: 100%;
}

.regBtn {
  width: 100%;
}

.forgot_div {
  margin-top: 20px;
  background-color: white;
  display: flex;
  flex-direction: row;
}

.forgot_div hr {
  margin-left: 20px;
  margin-right: 20px;
  border-width: 2px;
  border-color: black;
  height: 0px;
}

#account_type_question {
  cursor: context-menu;
  margin-top: 20px;
  font-size: 16px;
}
