.home_page {
  height: inherit;
}

.three_part_div {
  display: flex;
  flex-direction: row;
  height: inherit;
  margin-top: 40px;
}

.user_info_div {
  margin-top: 0px;
  background-color: white;
  height: 80vh;
  width: 100%;
  border-right: 2px;
  text-align: center;
}
.class_info_div {
  margin-top: 0px;
  background-color: white;
  height: 80vh;
  width: 100%;
  border-right: 2px;
  text-align: center;
  overflow-y: scroll;
}
.group_list_div {
  background-color: white;
  overflow-y: scroll;
  width: 100%;
  border-right: 2px;
  border-right-color: darkgray;
  border-right-style: dashed;
  border-left-color: darkgray;
  border-left-style: dashed;
  height: 80vh;
  text-align: center;
}

.poll_list_div {
  text-align: center;
  background-color: white;
  width: 100%;
  height: 80vh;
  overflow-y: scroll;
}
