body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif,"Brush Script MT", "Sofia";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  --bg-gray: #f5f5f5;
  --boxshadow: rgba(0, 10, 18, 0.12) 0px 2px 4px,
    rgba(246, 246, 246, 0.5) 0px 0px 1px;
}

body #root .app {
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
